[submodule "Assets/modules/module.deterministic-model"]
	path = Assets/modules/module.deterministic-model
	url = https://github.com/crafty-racoon/module.deterministic-model.git
	ignore = untracked
[submodule "Assets/modules/module.deterministic-history"]
	path = Assets/modules/module.deterministic-history
	url = https://github.com/crafty-racoon/module.deterministic-history.git
	ignore = untracked
[submodule "Assets/framework.deterministic-playback"]
	path = Assets/framework.deterministic-playback
	url = https://github.com/crafty-racoon/framework.deterministic-playback.git
	ignore = untracked
[submodule "Assets/modules/module.verification.diagnostics"]
	path = Assets/modules/module.verification.diagnostics
	url = https://github.com/crafty-racoon/module.verification.diagnostics.git
